.contacts
  a.contact(href="tel:+380673456723")
    i.fas.fa-mobile-alt.contact__icon
    span.contact__text +380673456723

  a.contact(href="mailto:info@business.com")
    i.fas.fa-envelope.contact__icon
    span.contact__text info@business.com

  a.facebook-icon(href="facebook.com")
    i.fab.fa-facebook.contact__icon
