doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel='stylesheet' href='css/main.min.css')
    title Business
  body
    include sections/header
    include sections/hero
    include sections/about
